*{
    font-family:'Courier New', Courier, monospace;
}
html{
    color:blueviolet;
    width: 100vw;
}
a{
    text-decoration: none;
}
.text-link:hover{
    text-decoration: underline;
    color:palevioletred;
}
body{
    text-align: center;
    width: 100%;
}

.round-link {
    display: inline-block;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid red;
}
.round-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.info{
    margin-top: 2vw;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info>section{
    width: 25%;
    height: 100%;
    padding: 1vw;
}

.personal-info::first-line{
    color: red;
}
.personal-info::first-letter{
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}
.personal-info, .work-exp, .contacts{
    background-color: #dddddd;
}

.work-exp li::marker{
    color: red;
}
.work-exp ul, .skills ul{
    text-align: left;
}

.contacts svg{
    color:blueviolet;
}
.contacts svg:hover{
    color: blue;
}

.relative p{
    width: 50vw;
    position: relative;
    top: 30px;
    left: 600px;
    background-color: #dddddd;
}


header{
    font-size: 16px;
}
div{
    font-size: 18px;
}
footer{
    margin-top: 5vw;
    font-size: 20px;
}

span{
    color:green;

}
header span{
    text-transform: uppercase;
}
footer span{
    text-transform: lowercase;
}
.personal-info span{
    letter-spacing: 5px;
}
.education span{
    word-spacing: 10px;
}